<h2 id="title">Ember Build Attr Modifier</h2>

<p {{build-attr "test-pgraph" value=true}}>I am a paragraph.</p>

<button {{build-attr "test-btn" btnName value="Hi"}}>I am a button</button>

<span {{build-attr "v-span" noPrefix=true}}>I am a span</span>